@page "/addExpense"
@using BlazorExpenseTracker.Data
@inject WeatherForecastService ForecastService

<PageTitle>Add Expense</PageTitle>

<h1>Add Expense</h1>


<h2>TODO</h2>


@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateOnly.FromDateTime(DateTime.Now));
    }
}
