@page "/addExpense"
@using BlazorExpenseTracker.Domain.Model
@using BlazorExpenseTracker.Domain.Services
@inject ExpensesDataService _expensesDataService

<PageTitle>Add Expense</PageTitle>

<h1>Add Expense</h1>


<h2>TODO</h2>


@code {
    private Expense[]? expenses;

    protected override async Task OnInitializedAsync()
    {
        expenses = await _expensesDataService.GetExpenses(DateOnly.FromDateTime(DateTime.Now));
    }
}
