@page "/"
@using System.Security.Claims;
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Home</PageTitle>


<h2 style="padding-left:5px;color:#b22222">Hello <span style="font-weight:bold">@givenName</span> !</h2>

<br />

<img src="puppy.gif" />

<br/><br/><hr/>

<NavLink class="nav-link" href="addExpense" Match="NavLinkMatch.All">
    <span class="oi oi-plus" aria-hidden="true"></span> Add New Expense
</NavLink>
<NavLink class="nav-link" href="listExpenses" Match="NavLinkMatch.All">
    <span class="oi oi-list" aria-hidden="true"></span> View Expenses
</NavLink>




@code {
    private string? givenName;
    private IEnumerable<Claim> claims = Enumerable.Empty<Claim>();

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity != null && user.Identity.IsAuthenticated)
        {
            givenName = user.Claims.FirstOrDefault(c => c.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/givenname")?.Value;
            claims = user.Claims;
        }
        else
        {
            NavigationManager.NavigateTo("/login");
        }
    }
}