@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello!</h1>

<br />

<img src="puppy.gif" />

<br/>
<br />

<NavLink class="nav-link" href="addExpense" Match="NavLinkMatch.All">
    <span class="oi oi-plus" aria-hidden="true"></span> Add New Expense
</NavLink>
<NavLink class="nav-link" href="listExpenses" Match="NavLinkMatch.All">
    <span class="oi oi-list" aria-hidden="true"></span> View Expenses
</NavLink>

