@page "/login"
@using BlazorExpenseTracker.Services.Auth;
@using BlazorExpenseTracker.Model
@using BlazorExpenseTracker.Services
@using System.Security.Claims;
@inject IJSRuntime js
@inject NavigationManager _navigationManager
@inject IAuthorizationService _authorizationService
@inject IExpTrackerAuthService _expTrackerAuthService
@inject ProtectedSessionStorage _protectedSessionStorage
@inject AuthenticationStateProvider _authenticationStateProvider

<PageTitle>Expense Tracker - Login</PageTitle>

<h1>Login</h1>
<hr/>

<div>
   
     <p>
        <label>
            Username:<br />
            <input @bind="username" />
        </label>
    </p>
    <p>
        <label>
            Password:<br/>
            <input @bind="password" type="password" @onkeydown="@CheckEnterPressed" />
        </label>
    </p>

    <button @onclick="ExecuteLogin">Login</button>

</div>

@code {
    string username = "";
    string password = "";

    public async Task CheckEnterPressed(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            await ExecuteLogin();
        }
    }

    private async Task ExecuteLogin()
    {
        var expTrackerUser = await _expTrackerAuthService.LoginAsync(username, password);

        if (expTrackerUser != null)
        {
            var expTrackerAuthStateProvider = (ExpTrackerAuthenticationStateProvider)_authenticationStateProvider;
            await expTrackerAuthStateProvider.UpdateAuthenticationState(new ExpTrackerUserSession(expTrackerUser.Username, expTrackerUser.GivenName, expTrackerUser.Role));            
            _navigationManager.NavigateTo("/", true);            
        }
        else
        {
            await js.InvokeVoidAsync("alert", "Invalid user name or password.");
        }
    }

}
